table, tr, td {
  border: 1px solid
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

//tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.districts {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11px;
  background-color: antiquewhite
  }